.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cont.card{
    display:flex;
    width: 100%;
    height: 65vh;
    cursor: auto;
    flex-direction: row;
}
.cont-img{
    width: 42%;
    background-image: url("https://images.pexels.com/photos/905163/pexels-photo-905163.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-repeat: no-repeat;
}
.cont-body{
    width: 50%;
    margin: auto;
}
.cont-body input{
    margin: 10px 0;
}
.cont-body button{
    margin: 20px 0;
}